{
  "relayers": [
    {
      "id": "copypools-relayer-sepolia",
      "name": "CopyPools Sepolia Relayer",
      "network": "sepolia",
      "paused": false,
      "signer_id": "copypools-signer",
      "network_type": "evm",
      "custom_rpc_urls": [
        {
          "url": "${COPYPOOLS_SEPOLIA_RPC_URL}"
        }
      ],
      "policies": {
        "min_balance": 0
      }
    },
    {
      "id": "copypools-relayer-mainnet",
      "name": "CopyPools Mainnet Relayer",
      "network": "mainnet",
      "paused": false,
      "signer_id": "copypools-signer",
      "network_type": "evm",
      "custom_rpc_urls": [
        {
          "url": "${COPYPOOLS_MAINNET_RPC_URL}"
        }
      ],
      "policies": {
        "min_balance": 0
      }
    },
    {
      "id": "copypools-relayer-avalanche",
      "name": "CopyPools Avalanche Relayer",
      "network": "avalanche",
      "paused": false,
      "signer_id": "copypools-signer",
      "network_type": "evm",
      "custom_rpc_urls": [
        {
          "url": "${COPYPOOLS_AVALANCHE_RPC_URL}"
        }
      ],
      "policies": {
        "min_balance": 0
      }
    },
    {
      "id": "copypools-relayer-arbitrum",
      "name": "CopyPools Arbitrum Relayer",
      "network": "arbitrum",
      "paused": false,
      "signer_id": "copypools-signer",
      "network_type": "evm",
      "custom_rpc_urls": [
        {
          "url": "${COPYPOOLS_ARBITRUM_RPC_URL}"
        }
      ],
      "policies": {
        "min_balance": 0
      }
    }
  ],
  "notifications": [],
  "signers": [
    {
      "id": "copypools-signer",
      "type": "aws_kms",
      "config": {
        "region": "${COPYPOOLS_AWS_REGION}",
        "key_id": "${COPYPOOLS_AWS_KMS_KEY_ID}"
      }
    }
  ],
  "plugins": []
}
